Repository finsberg/fenics-plotly: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: python -m isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: python -m black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: python -m flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: python -m mypy
  pass_filenames: false

Add files
  .github/ISSUE_TEMPLATE.md
  .github/workflows/main.yml
  AUTHORS.md
  CONTRIBUTING.md
  HISTORY.md
  LICENSE
  MANIFEST.in
  Makefile
  README.md
  demo/unit_cube.ipynb
  demo/unit_square.ipynb
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/installation.rst
  docs/make.bat
  docs/usage.rst
  fenics_plotly/__init__.py
  fenics_plotly/fenics_plotly.py
  requirements_dev.txt
  setup.cfg
  setup.py
  tests/__init__.py
  tests/test_fenics_plotly.py
Due: isort, black, flake8, mypy

Install fenics in github workflow using apt-get
  .github/workflows/main.yml
Due: none

Skip python matrix in github workflow
  .github/workflows/main.yml
Due: none

Add setup for python3
  .github/workflows/main.yml
Due: none

Fix mistake in python command
  .github/workflows/main.yml
Due: none

Force python to be python3
  .github/workflows/main.yml
Due: none

Chnage the way we install the package
  .github/workflows/main.yml
Due: none

More python 3 updates
  Makefile
Due: none

Add package dependencies
  setup.py
Due: isort, black, mypy

Change ci system to circle ci
  .circleci/config.yml
  .github/workflows/main.yml
Due: none

Use correct requirements.txt
  .circleci/config.yml
  requirements_dev.txt
Due: none

Upgrade pytest
  .circleci/config.yml
Due: none

Try to add codecov
  .circleci/config.yml
Due: none

Fix circleci config format
  .circleci/config.yml
Due: none

Add a few more pre-commit hooks
  .pre-commit-config.yaml
Due: none

Try different command for codecov
  .circleci/config.yml
Due: none

Update badges in readme
  README.md
Due: none

Update README
  README.md
Due: none

Fix README on pypi
  setup.py
Due: isort, black, mypy

Change string format in setup.cfg
  setup.cfg
Due: none

Fixes
  fenics_plotly/__init__.py
  setup.cfg
  setup.py
Due: isort, black, flake8, mypy

Add separe bumpverisio config file
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.cfg
  setup.py
Due: isort, black, flake8, mypy

Revert version
  fenics_plotly/__init__.py
Due: isort, black, flake8, mypy

Bump version: 0.1.0 → 0.1.1
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.py
Due: isort, black, flake8, mypy

Add some more documentation
  docs/conf.py
  docs/installation.rst
  fenics_plotly/fenics_plotly.py
Due: isort, black, flake8, mypy

Mock fenics and dolfin in sphinx
  docs/conf.py
Due: isort, black, flake8, mypy

Try different way of mocking
  docs/conf.py
Due: isort, black, flake8, mypy

Add nbsphinx to requirements
  requirements_dev.txt
Due: none

Update docs
  docs/installation.rst
Due: none

Remove bump2version from setup.cfg
  setup.cfg
Due: none

Update intersphinx links
  docs/conf.py
Due: isort, black, flake8, mypy

Add links to documentation and source in setup.py
  setup.py
Due: isort, black, mypy

Update readme with link to source
  README.md
  docs/readme.rst
Due: none

Bump version: 0.1.1 → 0.1.2
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.py
Due: isort, black, flake8, mypy

Make it possible to combine plots
  fenics_plotly/fenics_plotly.py
  tests/test_fenics_plotly.py
Due: isort, black, flake8, mypy

Bump version: 0.1.2 → 0.1.3
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.py
Due: isort, black, flake8, mypy

Make it possible to turn of plotting using environment variables
  fenics_plotly/__init__.py
  fenics_plotly/fenics_plotly.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
