Repository finsberg/fenics-plotly: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: python -m isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: python -m black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: python -m flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: python -m mypy
  pass_filenames: false

Bump version: 0.1.3 → 0.1.4
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.py
Due: isort, black, flake8, mypy

Remove fenics from pip dependencies
  setup.py
Due: isort, black, mypy

Bump version: 0.1.4 → 0.1.5
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.py
Due: isort, black, flake8, mypy

Use github pages for publishing doc and pin version of sphinx_rtd_them
  .github/workflows/github-pages.yml
  requirements_dev.txt
Due: none

Update folder where we dump plotly.js
  .github/workflows/github-pages.yml
Due: none

deploy: d41b143e3e24815bf5a6a9fe835eb036096aec82
  .nojekyll
Due: none

Use correct build directory
  .github/workflows/github-pages.yml
Due: none

Update documentation url
  README.md
Due: none

Bump version: 0.1.5 → 0.1.6
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.py
Due: isort, black, flake8, mypy

deploy: 104659ae218d800c746743bb0dddd5f4e86206dc
  _sources/readme.rst.txt
  readme.html
  searchindex.js
Due: none

deploy: 725e589ed936fe68ecc31bdd7e601b7369611352
  .buildinfo
  _modules/fenics_plotly/fenics_plotly.html
  _modules/index.html
  _static/documentation_options.js
  authors.html
  contributing.html
  demo.html
  fenics_plotly.html
  genindex.html
  history.html
  index.html
  installation.html
  modules.html
  objects.inv
  py-modindex.html
  readme.html
  search.html
  unit_cube.html
  unit_square.html
Due: none

Make it possible to set renderer through environment variables
  fenics_plotly/fenics_plotly.py
Due: isort, black, flake8, mypy

Bump version: 0.1.6 → 0.2.0
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.py
Due: isort, black, flake8, mypy

deploy: 1c530a27971d4f95b9eeeb0bf48c600d60ee1e74
  .buildinfo
  _modules/fenics_plotly/fenics_plotly.html
  _modules/index.html
  _static/basic.css
  _static/doctools.js
  _static/documentation_options.js
  _static/searchtools.js
  authors.html
  contributing.html
  demo.html
  fenics_plotly.html
  genindex.html
  history.html
  index.html
  installation.html
  modules.html
  objects.inv
  plotly.js
  py-modindex.html
  readme.html
  search.html
  searchindex.js
  unit_cube.html
  unit_square.html
Due: none

Use github actions and update docs to jupyterbook
  .bumpversion.cfg
  .circleci/config.yml
  .github/workflows/github-pages.yml
  .github/workflows/main.yml
  CONTRIBUTING.md
  INSTALL.md
  Makefile
  README.md
  docs/DEMO.md
  docs/Makefile
  docs/_config.yml
  docs/_toc.yml
  docs/authors.rst
  docs/conf.py
  docs/contributing.rst
  docs/demo.rst
  docs/fenics_plotly.rst
  docs/history.rst
  docs/index.rst
  docs/installation.rst
  docs/make.bat
  docs/modules.rst
  docs/readme.rst
  setup.cfg
  setup.py
Due: isort, black, flake8, mypy

Update .gitignorew add add logo
  .gitignore
  docs/logo.png
Due: none

Use xml for coverage report
  setup.cfg
Due: none

Update python3 in workflow
  .github/workflows/github-pages.yml
Due: none

Try to add pandoc as a depedency
  .github/workflows/github-pages.yml
Due: none

Add nbsphinx
  setup.cfg
Due: none

Use legacy resolver when building docs
  .github/workflows/github-pages.yml
Due: none

Add jupyter as docs dependncy
  setup.cfg
Due: none

Try to use a custom docker image
  .github/workflows/github-pages.yml
Due: none

Update bumpversion config
  .bumpversion.cfg
Due: none

Add correct version in __init__.py
  fenics_plotly/__init__.py
Due: isort, black, flake8, mypy

Bump version: 2021.0.0 → 2021.0.1
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.cfg
Due: isort, black, flake8, mypy

Add dependency ipywidgets
  setup.cfg
Due: none

Run pre-commit
  LICENSE
Due: none

Bump version: 2021.0.1 → 2022.0.0
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.cfg
Due: isort, black, flake8, mypy

Do not install pandoc in ci
  .github/workflows/github-pages.yml
Due: none

Install anywidget
  setup.cfg
Due: none

Bump github action workflows
  .github/workflows/github-pages.yml
  .github/workflows/main.yml
Due: none

Update pre-commit
  .pre-commit-config.yaml
  fenics_plotly/fenics_plotly.py
  requirements_dev.txt
  setup.cfg
  tests/test_fenics_plotly.py
Due: isort, black, flake8, mypy

Bump version: 2022.0.0 → 2025.0.0
  .bumpversion.cfg
  fenics_plotly/__init__.py
  setup.cfg
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
